.bttn {
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    background-color: $background-btn;
    color: $white;
    padding: 0 5px 0 5px;
    text-decoration: none;
    font-size: 15px;

    &.--delete {
        background-color: $app-red;
    }

    &:hover {
        background-color: $background-btn-hover;
        cursor: pointer;
        text-decoration: none;
        color: $white;
        padding: 0 5px 0 5px;
        font-size: 15px;
        border-color: #000000;
        border-radius: 5px;
        border-style: solid;
    }
}

.btn-save {
    &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
            0 0 40px rgba(0, 0, 0, 0.1) inset;
        color: $green;
    }
}

.btn-delete {
    &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
            0 0 40px rgba(0, 0, 0, 0.1) inset;
        color: $app-red;
    }
}
